In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("flights_sample_3m.csv")

In [12]:
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0
2999998,2019-11-13,Republic Airline,Republic Airline: YX,YX,20452,6134,BOS,"Boston, MA",LGA,"New York, NY",...,0.0,88.0,77.0,50.0,184.0,NaN,NaN,NaN,NaN,NaN
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,0.0,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN

In [14]:
print(df.columns.tolist())

['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE', 'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT']

In [18]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'], errors='coerce')

In [20]:
df = df[(df['FL_DATE'].dt.year >= 2021) & (df['FL_DATE'].dt.year <= 2022)]

In [22]:
print(df['FL_DATE'].dtype)
print(df['FL_DATE'].head())

datetime64[ns]
1    2022-11-19
2    2022-07-22
10   2021-06-11
12   2021-08-05
15   2022-05-01
Name: FL_DATE, dtype: datetime64[ns]

In [26]:
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
10,2021-06-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2820,ATL,"Atlanta, GA",BDL,"Hartford, CT",...,0.0,142.0,133.0,115.0,859.0,60.0,0.0,0.0,0.0,0.0
12,2021-08-05,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,430,MDW,"Chicago, IL",BNA,"Nashville, TN",...,0.0,80.0,75.0,59.0,395.0,NaN,NaN,NaN,NaN,NaN
15,2022-05-01,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1011,BWI,"Baltimore, MD",BDL,"Hartford, CT",...,0.0,65.0,68.0,53.0,283.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999986,2022-02-09,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",...,0.0,124.0,115.0,93.0,746.0,NaN,NaN,NaN,NaN,NaN
2999991,2021-12-03,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1146,MSP,"Minneapolis, MN",SNA,"Santa Ana, CA",...,0.0,245.0,229.0,199.0,1522.0,NaN,NaN,NaN,NaN,NaN
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0

In [28]:
print(df['FL_DATE'].dt.month_name().unique())

['November' 'July' 'June' 'August' 'May' 'December' 'September' 'March'
 'October' 'January' 'February' 'April']

In [57]:
delay_cols = {
    'DELAY_DUE_CARRIER': 'Carrier',
    'DELAY_DUE_WEATHER': 'Weather',
    'DELAY_DUE_NAS': 'NAS',
    'DELAY_DUE_SECURITY': 'Security',
    'DELAY_DUE_LATE_AIRCRAFT': 'Late Aircraft'
}

def get_delay_reasons(row):
    reasons = []
    for col, label in delay_cols.items():
        if col in row.index and row[col] > 0:
            reasons.append(label)
    return ", ".join(reasons) if reasons else "No Delay"

# ✅ Only if columns exist
available_cols = [c for c in delay_cols.keys() if c in df.columns]

if available_cols:  
    df['DELAY_REASON'] = df.apply(get_delay_reasons, axis=1)
    df = df.drop(columns=available_cols)
else:
    print("No delay columns found in the dataset.")

No delay columns found in the dataset.

In [59]:
print(df.columns.tolist())

['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE', 'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_REASON']

In [61]:
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_REASON
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,2310.0,-5.0,0.0,NaN,0.0,235.0,236.0,189.0,1399.0,No Delay
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,1252.0,0.0,0.0,NaN,0.0,118.0,112.0,87.0,680.0,No Delay
10,2021-06-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2820,ATL,"Atlanta, GA",BDL,"Hartford, CT",...,2212.0,60.0,0.0,NaN,0.0,142.0,133.0,115.0,859.0,Carrier
12,2021-08-05,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,430,MDW,"Chicago, IL",BNA,"Nashville, TN",...,941.0,1.0,0.0,NaN,0.0,80.0,75.0,59.0,395.0,No Delay
15,2022-05-01,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1011,BWI,"Baltimore, MD",BDL,"Hartford, CT",...,1846.0,6.0,0.0,NaN,0.0,65.0,68.0,53.0,283.0,No Delay

In [63]:
# Replace NaN in delay columns with 0
df['DEP_DELAY'] = df['DEP_DELAY'].fillna(0)
df['ARR_DELAY'] = df['ARR_DELAY'].fillna(0)

In [65]:
# If DELAY_REASON is missing, mark as 'Unknown'
df['DELAY_REASON'] = df['DELAY_REASON'].fillna('Unknown')

In [67]:
# 3️⃣ Standardize data types
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])   # ensure date format
df['CANCELLED'] = df['CANCELLED'].astype(int)   # 0/1 instead of float
df['DIVERTED'] = df['DIVERTED'].astype(int)     # 0/1 instead of float

In [69]:
# 4️⃣ Remove duplicates
df = df.drop_duplicates()

In [71]:
# 5️⃣ Optional: remove unrealistic values
# If delay is negative beyond scheduling buffer, clip to 0
df['DEP_DELAY'] = df['DEP_DELAY'].clip(lower=0)
df['ARR_DELAY'] = df['ARR_DELAY'].clip(lower=0)

In [73]:
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_REASON
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,2310.0,0.0,0,NaN,0,235.0,236.0,189.0,1399.0,No Delay
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,1252.0,0.0,0,NaN,0,118.0,112.0,87.0,680.0,No Delay
10,2021-06-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2820,ATL,"Atlanta, GA",BDL,"Hartford, CT",...,2212.0,60.0,0,NaN,0,142.0,133.0,115.0,859.0,Carrier
12,2021-08-05,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,430,MDW,"Chicago, IL",BNA,"Nashville, TN",...,941.0,1.0,0,NaN,0,80.0,75.0,59.0,395.0,No Delay
15,2022-05-01,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1011,BWI,"Baltimore, MD",BDL,"Hartford, CT",...,1846.0,6.0,0,NaN,0,65.0,68.0,53.0,283.0,No Delay

In [77]:
#memory optimization
def optimize_memory(df):
    print(f"Memory before: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

    for col in df.columns:
        col_type = df[col].dtype

        if pd.api.types.is_integer_dtype(col_type):
            df[col] = pd.to_numeric(df[col], downcast="integer")
        elif pd.api.types.is_float_dtype(col_type):
            df[col] = pd.to_numeric(df[col], downcast="float")
        elif col_type == object:
            # Convert to category if less than 50% unique values
            if df[col].nunique() / len(df[col]) < 0.5:
                df[col] = df[col].astype("category")

    print(f"Memory after: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
    return df

# Run on your dataset
df_clean = optimize_memory(df)

Memory before: 819.39 MB
Memory after: 107.94 MB

In [83]:
# Save cleaned dataset (make sure df is your cleaned DataFrame)
df.to_csv("flights_cleaned.csv", index=False)

# Optional: faster loading format
df.to_parquet("flights_cleaned.parquet", index=False)

In [85]:
import os
print(os.listdir())  # lists files in current working directory

['.ipynb_checkpoints', '1-d3c4c3ee-b59e-4c9a-b7ae-139ba476d658.pdf', '7z2409-x64.exe', 'AgriVerse_Filled_PPT.pptx', 'AICET B2 PD Certificate-2296.pdf', 'AICTE B2 Offer Letter 14001-16K-908.pdf', 'airlines_complete_project.ipynb', 'airline_delay_cancellation.ipynb', 'Anaconda3-2024.10-1-Windows-x86_64.exe', 'AnyDesk.exe', 'app.py', 'apps.csv.zip', 'ArgoUML-0.34-setup.exe', 'artificial-intelligence-fundamentals.png', 'ChromeSetup.exe', 'creditcard.csv', 'creditcard.csv (1).zip', 'creditcard.csv.zip', 'CSE_AI_ML.pdf', 'desktop.ini', 'Dev-Cpp 5.11 TDM-GCC 4.9.2 Setup.exe', 'download.jfif', 'DV AirFly Insights.pdf', 'emu8086 (1).exe', 'Filled_Capstone_Project_Presentation.pptx', 'filmora-idco_setup_full1901 (1).exe', 'filmora-idco_setup_full1901.exe', 'flights_cleaned.csv', 'flights_cleaned.parquet', 'flights_sample_100k.csv.zip', 'flights_sample_3m.csv', 'Git-2.47.1.2-64-bit.exe', 'Git-2.49.0-64-bit.exe', 'IBMDesign20250730-30-fd7czk.pdf', 'img.jpeg', 'jre-8u461-windows-i586-iftw.exe', 'PBIDesktopSetup_x64.exe', 'python-3.11.8-amd64.exe', 'resume.pdf', 'Roshini offer letter.pdf', 'Roshini tavva Internship Certificate.pdf', 'Roshini tavva LoR.pdf', 'Roshini tavva Offer Letter.pdf', 'Scholarships for students_updated_2020 (1).docx', 'Scholarships for students_updated_2020.docx', 'student-mat.csv', 'student_model.ipynb', 'Twitter_Data.csv.zip', 'unstopsmarthire-2.0.0.exe', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'user_reviews.csv.zip', 'Video transcript_What are generative AI models.pdf', 'VSCodeUserSetup-x64-1.96.2.exe', 'WebEx_mc_infosys__infosys.webex.com_eyJsYW5ndWFnZUlkIjoxLCJjb3JyZWxhdGlvbklkIjoiNDNmMzRmOTktNGFlOC00ODcwLThmOTMtZTAyOGQxNzEzZmY4IiwidG9rZW4iOiJwWkhJcEFnaEkwIn0=.exe', 'WebEx_mc_infyevents__infyevents.webex.com_eyJsYW5ndWFnZUlkIjoxLCJjb3JyZWxhdGlvbklkIjoiOWE2NjVkMDktOWJlMi00OTllLWEzYzgtZjZiMjRhYTgwODZlIiwidG9rZW4iOiJxYm83YVJIRDlZIn0=.exe', 'WhatsApp Image 2025-04-14 at 11.11.23_f0763979.jpg', 'WhatsApp Image 2025-05-04 at 17.20.28_e431a7cf.jpg', 'WhatsApp Video 2024-02-09 at 04.44.14_2210bded.mp4', 'WineQT (1).csv', 'WineQT.csv', 'wps_download', 'wps_wid.cid-2127047817.1731332717.exe', 'Yoga_for_Every_Age_Presentation.pptx', 'Your Future in AI_Resources to Explore_EN.pdf', '𝙸𝚗𝚜𝚝𝚊𝚕𝚕+𝙵𝚞𝚕𝚕𝙵𝚒𝚕𝚎.&.𝙿𝚊𝚜𝚜𝚠𝚘𝚛𝚍__2025.zip']

In [87]:
df = pd.read_csv("flights_cleaned.csv")

In [89]:
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_REASON
0,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,2310.0,0.0,0,NaN,0,235.0,236.0,189.0,1399.0,No Delay
1,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,1252.0,0.0,0,NaN,0,118.0,112.0,87.0,680.0,No Delay
2,2021-06-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2820,ATL,"Atlanta, GA",BDL,"Hartford, CT",...,2212.0,60.0,0,NaN,0,142.0,133.0,115.0,859.0,Carrier
3,2021-08-05,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,430,MDW,"Chicago, IL",BNA,"Nashville, TN",...,941.0,1.0,0,NaN,0,80.0,75.0,59.0,395.0,No Delay
4,2022-05-01,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,1011,BWI,"Baltimore, MD",BDL,"Hartford, CT",...,1846.0,6.0,0,NaN,0,65.0,68.0,53.0,283.0,No Delay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299488,2022-02-09,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",...,1001.0,0.0,0,NaN,0,124.0,115.0,93.0,746.0,No Delay
1299489,2021-12-03,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1146,MSP,"Minneapolis, MN",SNA,"Santa Ana, CA",...,2022.0,0.0,0,NaN,0,245.0,229.0,199.0,1522.0,No Delay
1299490,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,1851.0,0.0,0,NaN,0,85.0,71.0,55.0,328.0,No Delay
1299491,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,1519.0,0.0,0,NaN,0,176.0,145.0,130.0,977.0,No Delay
1299492,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,805.0,36.0,0,NaN,0,55.0,50.0,28.0,151.0,Weather